PUBLIC_XEPENG_CLIENT_ID=""
PUBLIC_XEPENG_CLIENT_SECRET=""

# ipaymu
PUBLIC_IPAYMU_VA=""
PUBLIC_IPAYMU_API_KEY=""
# midtrans
PUBLIC_MIDTRANS_MERCHANT_ID=""
PUBLIC_MIDTRANS_CLIENT_KEY=""
PUBLIC_MIDTRANS_SERVER_KEY=""